.App {
	text-align: center;
}

.nav-bar {
	height: 60px;
	background-color: black; 
	color: white;     
	line-height: 2.7em;
	font-size: 1.2em;
}

.container {
	height: calc(100vh - 60px); 
	position: absolute;
	width: 100vw; 
	background-color: #f5f5f5;
}

.pos-rlt{
	position: relative;
}

.box {
	width: 200px;
	padding: 10px 0px ;
}
.yellow { background-color: #FFEE58; }
.red { background-color: #f44336; }
.blue { background-color: blue; }

.minimap {
	margin: 30px
}

.card-container {
	color: #d4cd96;
	font-family: 'Fira Sans', sans-serif;
	-webkit-transform-origin: 100% 50%;
					transform-origin: 100% 50%;
	-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.49, 0.23, 0.58, 0.49);
	transition: -webkit-transform 0.6s cubic-bezier(0.49, 0.23, 0.58, 0.49);
	transition: transform 0.6s cubic-bezier(0.49, 0.23, 0.58, 0.49);
	transition: transform 0.6s cubic-bezier(0.49, 0.23, 0.58, 0.49), -webkit-transform 0.6s cubic-bezier(0.49, 0.23, 0.58, 0.49);
}

.dark {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
	background: -webkit-repeating-linear-gradient(315deg, rgba(0, 0, 0, 0.3), transparent 1px, rgba(0, 0, 0, 0.3) 2px);
	background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), transparent 1px, rgba(0, 0, 0, 0.3) 2px);
	background-size: 3px 3px;
	background-color: #302f34;
	border-radius: 1px;
	box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.1), 0px 6px 8px 0px rgba(0, 0, 0, 0.1), 6px 0px 8px 0px rgba(0, 0, 0, 0.1), -6px 0px 8px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	padding: 5%;
}

.commit-hash {
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: rgba(197, 197, 197, 0.66);
}

.keep-aspect-ratio {
	position: absolute;
	top: 2px;
	right: 7px;
	height: 60px;
	padding-top: 1px;
	font-size: 0.8em;
}

a {
	color: #FFF;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}
